<h1>Bienvenido, por favor registrate</h1>

<form action="/users/register" method="post">
    Nombre: <input type="text" name="name" id="name">
    Apellido: <input type="text" name="lastName" id="lastName">
    Email: <input type="email" name="email" id="email">
    Constraseña: <input type="password" name="password" id="password">
    <input type="submit" value="Registrarse">
</form>