<h1>Bienvenido, por favor registrate</h1>

<form action="/users/register" method="post">
    Nombre: <input type="text" name="first_name" id="first_name">
    Apellido: <input type="text" name="last_name" id="last_name">
    Edad: <input type="number" name="age" id="age">
    Email: <input type="email" name="email" id="email">
    Constraseña: <input type="password" name="password" id="password">
    <input type="submit" value="Registrarse">
</form>

<h2>Ingresar con github</h2>
<a href="http://localhost:3000/users/github/auth"><img style="width: 150px;" src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg" /></a>