<h1>Bienvenido, por favor ingresa tus datos</h1>

<form action="/users/login" method="post">
    Email: <input type="email" name="email" id="email">
    Constraseña: <input type="password" name="password" id="password">
    <input type="submit" value="Ingresar">
</form>

<p>¿No estas registrado? <a href="/register">Registrarse</a></p>

<h2>Ingresar con github</h2>
<a href="http://localhost:3000/users/github/auth"><img style="width: 150px;" src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg" /></a>