<h2>Crea tus propios productos</h2>

<form action="/api/products/premium" method="post">
    Nombre: <input type="text" name="title" id="title">
    Descripcion: <input type="text" name="description" id="description">
    Precio: <input type="number" name="price" id="price">
    Stock: <input type="number" name="stock" id="stock">
    Codigo: <input type="text" name="code" id="code">
    Categoria <input type="text" name="category" id="category">
    URL imagen: <input type="text" name="thumbnail" id="thumbnail">
    <input type="submit" value="Crear producto">
</form>