<h2>Ingrea tu contraseña nueva</h2>
<p>La contraseña no puede ser la misma a la que tenias anteriormente</p>

<form action="/users/createNewPassword/{{userId}}/{{token}}" method="post">
    Contraseña nueva: <input type="password" name="password" id="password">
    <input type="submit" value="Enviar">
</form>