<h1>COMPRA FINALIZADA</h1>
<h2>Gracias por comprar en nuestra tienda</h2>

<h3>Información de la compra:</h3>
<p>Comprador: {{{ticket.purchaser}}}</p>
<p>Fecha: {{{ticket.purchase_datetime}}}</p>
<p>Total: ${{{ticket.amount}}}</p>