<h2>Ingresa tu email</h2>
<p>Se te enviara un enlace para resetear tu contraseña</p>

<form action="/users/resetpassword" method="post">
    Email: <input type="email" name="email" id="email">
    <input type="submit" value="Resetear contraseña">
</form>